n8n-workflow.json
{
  "name": "WhatsApp House Bot Enhanced",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "whatsapp"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nreturn [{\n  json: {\n    group: body.group,\n    sender: body.sender,\n    text: body.text || '',\n    timestamp: body.timestamp,\n    messageType: body.messageType || 'text',\n    mediaUrl: body.mediaUrl || null,\n    imageBase64: body.imageBase64 || null\n  }\n}];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "image",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-type",
      "name": "Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "promptType": "define",
        "text": "=Analyze this property listing image and extract information. Return ONLY valid JSON with these fields: type (string), rooms (number), bathrooms (number), land_size (number in sqm), building_size (number in sqm), price (number), location (string), features (array of strings). If info not visible, use null.\n\nImage caption/text if any: {{ $json.text }}"
      },
      "id": "gemini-vision",
      "name": "Gemini Vision",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "promptType": "define",
        "text": "=Extract property information from this Indonesian property listing and return ONLY valid JSON with these exact fields: type (string), rooms (number), bathrooms (number), land_size (number in sqm), building_size (number in sqm), price (number), location (string), features (array of strings). If a field is not mentioned, use null.\n\nMessage: {{ $json.text }}"
      },
      "id": "gemini-text",
      "name": "Gemini Text",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [900, 400],
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.text;\nconst parseInput = $('Parse Input').item.json;\n\n// Extract JSON from the response\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nconst data = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n\nreturn [{\n  json: {\n    date: new Date(parseInput.timestamp * 1000).toISOString().split('T')[0],\n    time: new Date(parseInput.timestamp * 1000).toTimeString().split(' ')[0],\n    sender: parseInput.sender,\n    group: parseInput.group,\n    message_type: parseInput.messageType,\n    media_url: parseInput.mediaUrl || '',\n    raw_message: parseInput.text,\n    type: data.type || '',\n    rooms: data.rooms || 0,\n    bathrooms: data.bathrooms || 0,\n    land_size: data.land_size || 0,\n    building_size: data.building_size || 0,\n    price: data.price || 0,\n    location: data.location || '',\n    features: Array.isArray(data.features) ? data.features.join(', ') : ''\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1340, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image?": {
      "main": [
        [
          {
            "node": "Gemini Vision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Text": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
